.product-carousel-container { position: relative; width: 100%; max-width: 100vw; overflow: hidden; touch-action: pan-y pinch-zoom; }
.product-carousel { display: flex; transition: transform 0.5s ease; will-change: transform; }
.product-carousel-item { flex: 0 0 25%; max-width: 25%; padding: 10px; box-sizing: border-box; height: 460px; }
.product-carousel-item-image { height: 250px; max-width: 250px; object-fit: cover; padding: 10px; margin: 5px auto 10px; background-color: white; border-radius: 0.75rem; }
.product-carousel-item-content { display: flex; flex-direction: column; padding: 1rem; border-radius: 1rem; height: 100%; width: 100%; }
.product-carousel-item-details { display: flex; flex-direction: column; justify-content: space-evenly; padding-left: 1rem; }
.product-category-thumb { width: 60px; height: 60px; flex: 0 0 60px; object-fit: cover; }
#product-carousel form { background-color: #e2e2e2; }
.truncate-2-lines { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; line-height: 1.4; max-height: calc(1.4em * 2); box-sizing: border-box; }
.shop-now-button-width { width: 70%; }
.discount-circle { width: 75px; height: 75px; background-color: #e31e26; border-radius: 50%; display: flex; justify-content: center; align-items: center; text-align: center; color: #fff; box-sizing: border-box; position: absolute; top: 50%; right: 18%; transform: translateY(-240%); z-index: 2; }
.discount-circle .discount-text { display: flex; flex-direction: column; justify-content: center; align-items: center; line-height: 1; }
.discount-text .discount-header-text .discount,
.discount-text .discount-header-text .off { display: block; margin: 0; padding: 0; line-height: 1; }
.discount-header-text .discount { font-size: 1.8rem; font-weight: 900; display: block; line-height: 1.8rem; margin-top: 6px; }
.discount-header-text .off { font-size: 0.8rem; font-weight: bold; line-height: 1; display: block; }
.free-items-circle { width: 75px; height: 75px; background-color: #e31e26; border-radius: 50%; display: flex; justify-content: center; align-items: center; text-align: center; color: #fff; box-sizing: border-box; position: absolute; top: 50%; right: 18%; transform: translateY(-240%); z-index: 2; }
.free-items-circle .free-items-text { display: flex; flex-direction: column; justify-content: center; align-items: center; line-height: 1; }
.free-items-text .free-items-header-price-text .free-items { display: block; margin: 0; padding: 0; line-height: 1; }
.free-items-text .free-items { font-size: 1.1rem; font-weight: 900; display: block; line-height: 1.2rem; }
.prevBtn:hover circle, .nextBtn:hover circle { fill: #00b250; transition: fill 0.25s ease; }


@media (max-width: 1280px) {

.product-carousel-item { flex: 0 0 calc(33.3%); max-width: calc(33.3%); }
.discount-circle, .free-items-circle { right: 22%; }

}

@media (max-width: 970px) {

.product-carousel-item { height: 410px; }
.product-carousel-item-image { height: 200px; max-width: 200px; }
.discount-circle, .free-items-circle { width: 60px; height: 60px; transform: translateY(-260%); }
.discount-header-text .discount { font-size: 1.5rem; line-height: 1.5rem; margin-top: 6px; }
.discount-header-text .off { font-size: 0.6rem; line-height: 1; }
.free-items-text .free-items { font-size: 0.8rem; line-height: 1rem; }

}

@media (max-width: 880px) { 

.product-carousel-item { flex: 0 0 calc(100%); max-width: calc(100%); }
.discount-circle, .free-items-circle { right: 39%; }

}


@media (max-width: 600px) {

.discount-circle, .free-items-circle { right: 33%; }

}

@media (max-width: 500px) {

.discount-circle, .free-items-circle { right: 30%; }

}

@media (max-width: 420px) {

.discount-circle, .free-items-circle { right: 26%; }

}


@media (max-width: 400px) {

.discount-circle, .free-items-circle { right: 24%; }
.shop-now-button-width { width: 80%; }

}

@media (max-width: 365px) {

.product-carousel-item-details { padding-left: 1rem; }
.product-carousel-item-image { height: 70%; }

}
